{% extends "stepbase.html" %}
{% load static %}
{% block title %}
	汽车保险理赔系统-中艺
{% endblock %} 

{% block content %}
    <div class="container">
	<content>
	<form id="steps" action="" method="post">  
	{% csrf_token %}
      <div class="demo-row typography-row" style="margin-top: 80px;">
      	<div class="demo-title">
      		<h3 class="demo-panel-title">步骤 1: 车损类型</h3>
      	</div>
      	<div class="demo-content">
      		<div class="demo-type-example">
	      		<h6><span class="demo-heading-note">车损类型：</span>
				<select name="crack_type" class="form-control select select-primary select2-offscreen" 
					data-toggle="select" tabindex="-1" title="">
					<option value="" selected="">请选择车损类型</option>
					<option value="单方">单方</option>
                    <option value="单方(免票)">单方(免票)</option>
					<option value="双方">双方</option>
				  </select>
					&nbsp;
				<select name="crack_type_2" class="form-control select select-primary select2-offscreen" 
					data-toggle="select" tabindex="-1" title="" style="display: none;">
					<option value="" selected="">请选择双方类型</option>
					<option value="标的车">标的车</option>
					<option value="三者车">三者车</option>
				  </select>
                <script>
                    {% if p.crack_type %}
                        $('[name="crack_type"]').val("{{ p.crack_type }}");
                    {% endif %}
                    {% if p.crack_type_2 %}
                        $('[name="crack_type_2"]').val("{{ p.crack_type_2 }}");
                        $(function() { $('.select2-container').eq(1).show(); } );
                    {% endif %}

                    $('[name="crack_type"]').bind("change click",
                        function() {
                            if( $(this).val()  == '双方' ) {
                                $('.select2-container').eq(1).show();
                            }
                            else {
                                $('.select2-container').eq(1).hide();
                                $('[name="crack_type_2"]').val("");
                            }
                        }
                    );
                </script>
				</h6>
      		</div>
		</div><!-- /.demo-content-wide -->
		<div class="demo-type-example">
			<h6 style="width: 150px;"><span class="demo-heading-note"></span>
				<a id="submit" href="#fakelink" class="btn btn-block btn-lg btn-primary">下一步</a>
			</h6>
		</div>
      </div><!-- /.demo-row -->
	</form>
	</content>
    </div>
{% endblock %}
