{% extends "stepbase.html" %}
{% load static %}
{% block title %}
	汽车保险理赔系统-中艺
{% endblock %} 

{% block content %}
<div class="container">
	<content>
	  <form id="steps" action="" method="post">  
	  {% csrf_token %}
      <div class="demo-row typography-row" style="margin-top: 80px;">
      	<div class="demo-title">
      		<h3 class="demo-panel-title">步骤 5: 定损项目上传</h3>
      	</div>
      	<div class="demo-content">
      		<div class="demo-type-example">
	      		<h6><span class="demo-heading-note">定损项目：</span>
					  <div class="btn-toolbar">
						<div class="btn-group">
						  <input type="file" id="id_upload" name="id_upload" class="btn btn-primary active"/>
						  <!--<a class="btn btn-primary" href="#fakelink"><span class="fui-photo"></span></a>-->
						</div>
					  </div> <!-- /toolbar -->
				</h6>
      		</div>
      		<div class="demo-type-example">
	      		<h6><span class="demo-heading-note">已上传图片:</span>
				</h6>	
				<!--Picture Here-->
                <div id="gallery">
				{% for picture in p.confirm.galleryPic.all %}
					<img src="/media/{{picture.thumb}}" alt="{{picture.pk}}" class="img-rounded img-responsive uploaded-img" />
				{% endfor %}
                </div>
				<div style="clear: both"></div>
      		</div>
			<div class="demo-type-example">
				<h6 style="width: 150px;"><span class="demo-heading-note"></span>
					<a id="submit" href="#fakelink" class="btn btn-block btn-lg btn-primary">下一步</a>
				</h6>
			</div>
		</div><!-- /.demo-content-wide -->
      </div><!-- /.demo-row -->
	  </form>
	</content>
</div>
{% endblock %}

