{% extends "stepbase.html" %}
{% load static %}
{% block title %}
	汽车保险理赔系统-中艺
{% endblock %} 

{% block content %}
<div class="container">
	<content>
	  <form id="steps" action="" method="post">  
	  {% csrf_token %}
      <div class="demo-row typography-row" style="margin-top: 80px;">
      	<div class="demo-title">
      		<h3 class="demo-panel-title">步骤 6: 核损金额</h3>
      	</div>
      	<div class="demo-content">
      		<div class="demo-type-example">
	      		<h6><span class="demo-heading-note">核损金额（元）：</span>
					<input name="damage_value" type="text"
                           value="{% if p.damage_value %} {{p.damage_value}} {% endif %}"
                           placeholder="请填写核损金额" class="form-control">
				</h6>
			</div>
			<div class="demo-type-example">
				<h6 style="width: 150px;"><span class="demo-heading-note"></span>
					<a id="submit" href="#fakelink" class="btn btn-block btn-lg btn-primary">下一步</a>
				</h6>
			</div>
		</div><!-- /.demo-content-wide -->
      </div><!-- /.demo-row -->
	  </form>
	</content>
</div>
{% endblock %}

