{% extends "stepbase.html" %}
{% load static %}
{% block title %}
	汽车保险理赔系统-中艺
{% endblock %} 

{% block content %}
<div class="container">
	<content>
	<form id="steps" action="" method="post">  
	{% csrf_token %}
      <div class="demo-row typography-row" style="margin-top: 80px;">
      	<div class="demo-title">
      		<h3 class="demo-panel-title">步骤 8-1: 是否交案</h3>
      	</div>
      	<div class="demo-content">
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">交案：</span>
                    <select name="case_can_close" class="form-control select select-primary select2-offscreen"
					data-toggle="select" tabindex="-1" title="" />
                        <option value="" selected="">请选择是否交案</option>
                        <option value="yes">是</option>
                        <option value="no">否</option>
                      </select>
				</h6>
			</div>
		</div><!-- /.demo-content-wide -->
      	<div class="demo-content">
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">备注：</span>
					<textarea name="comment" class="form-control">{{ p.comment }}</textarea>
				</h6>
			</div>
		</div><!-- /.demo-content-wide -->
		<div class="demo-type-example">
			<h6 style="width: 150px;"><span class="demo-heading-note"></span>
				<a id="submit" href="#fakelink" class="btn btn-block btn-lg btn-primary">下一步</a>
			</h6>
		</div>
      </div><!-- /.demo-row -->
	</form>
	</content>
</div>
{% endblock %}
