{% extends "stepbase.html" %}
{% load static %}
{% block title %}
	汽车保险理赔系统-中艺
{% endblock %} 

{% block content %}
<div class="container">
	<content>
	<form id="steps" action="" method="post">  
	{% csrf_token %}
      <div class="demo-row typography-row" style="margin-top: 80px;">
      	<div class="demo-title">
      		<h3 class="demo-panel-title">步骤 3: 承保公司</h3>
      	</div>
      	<div class="demo-content">
      		<div class="demo-type-example">
	      		<h6><span class="demo-heading-note">保险公司：</span>
				<select name="insurance_company" class="form-control select select-primary select2-offscreen"
					data-toggle="select" tabindex="-1" title="">
					<option value="" selected="">请选择承保公司</option>
                    {% for company in companies %}
                        <option value="{{ company.pk }}">{{ company }}</option>
                    {% endfor %}
				  </select>

                  <script>
                    $('[name="insurance_company"]').val("{{ p.insurance_company.pk }}");
                  </script>
				</h6>
      		</div>
		</div><!-- /.demo-content-wide -->
		<div class="demo-type-example">
			<h6 style="width: 150px;"><span class="demo-heading-note"></span>
				<a id="submit" href="#fakelink" class="btn btn-block btn-lg btn-primary">下一步</a>
			</h6>
		</div>
      </div><!-- /.demo-row -->
	</form>
	</content>
</div>
{% endblock %}
