{% extends "stepbase.html" %}
{% load static %}
{% block title %}
	汽车保险理赔系统-中艺
{% endblock %} 

{% block content %}
<div class="container">
	<content>
	<form id="steps" action="" method="post">  
	{% csrf_token %}
      <div class="demo-row typography-row" style="margin-top: 80px;">
      	<div class="demo-title">
      		<h3 class="demo-panel-title">步骤 4-1: 定损（表面定损）</h3>
      	</div>
      	<div class="demo-content">
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">表面定损时间：</span>
					<input name="surface_confirm_time" type="datetime-local" value="{{ p.surface_confirm_time|date:'Y-m-d\TH:i' }}" class="form-control" style="width: 300px">
				</h6>
			</div>
      		<div class="demo-type-example">
	      		<h6><span class="demo-heading-note">表面定损业务员：</span>
				<select name="surface_confirm_manager" class="form-control select select-primary select2-offscreen"
					data-toggle="select" tabindex="-1" title="">
					<option value="" selected="">请选择表面定损业务员</option>
                     {% for member in members %}
                        <option value="{{ member.pk }}">{{ member.first_name }}</option>
                    {% endfor %}
				</select>
				</h6>
      		</div>
            <script>
                $('[name="surface_confirm_manager"]').val("{{ p.surface_confirm_manager.pk }}");
            </script>
		</div><!-- /.demo-content-wide -->
		<div class="demo-type-example">
			<h6 style="width: 150px;"><span class="demo-heading-note"></span>
				<a id="submit" href="#fakelink" class="btn btn-block btn-lg btn-primary">下一步</a>
			</h6>
		</div>
      </div><!-- /.demo-row -->
	</form>
	</content>
</div>
{% endblock %}
