{% extends "stepbase.html" %}
{% load static %}
{% block title %}
	汽车保险理赔系统-中艺
{% endblock %} 

{% block content %}
    <div class="container">
	<content>
	<form id="steps" action="" method="post">
	{% csrf_token %}
      <div class="demo-row typography-row" style="margin-top: 80px;">
      	<div class="demo-title">
      		<h3 class="demo-panel-title">进厂登记</h3>
      	</div>
      	<div class="demo-content">
      		<div class="demo-type-example">
	      		<h6><span class="demo-heading-note">车牌号：</span>
					<input name="license_plate" type="text" value="" placeholder="请填写完整的车牌号码（如: 粤J M0001）" class="form-control">				  
				</h6>
      		</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">进厂时间：</span>
					<input name="enter_time" type="datetime-local" value="" class="form-control" autocomplete="on" style="width: 300px">
				</h6>
			</div>
      		<div class="demo-type-example">
	      		<h6><span class="demo-heading-note">业务员:</span>
					<select name="manager"  class="form-control select select-primary select2-offscreen"
					   	data-toggle="select" tabindex="-1" title="">
						<option value="0">请选择跟单业务员</option>
						{% for user in manager %}
							<option value="{{user.pk}}">{{user.first_name}}</option>
						{% endfor %}
					</select>
				</h6>
      		</div>
      		<div class="demo-type-example">
	      		<h6 style="width: 150px;"><span class="demo-heading-note"></span>
                    <a id="submit" href="#fakelink" class="btn btn-block btn-lg btn-primary">创建记录</a>
				</h6>
      		</div>
		</div><!-- /.demo-content-wide -->
      </div><!-- /.demo-row -->
	</form>
	</content>
    </div>
{% endblock %}

