{% extends "stepbase.html" %}
{% load static %}
{% block title %}
	汽车保险理赔系统-中艺
{% endblock %} 

{% block content %}

	<link rel="stylesheet" href="/static/common/libs/js/uploadify/3.1.2/uploadify.css" type="text/css" media="all">
	<script type="text/javascript" src="/static/common/libs/js/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/common/libs/js/uploadify/3.1.2/jquery.uploadify.min.js"></script>

	<script>
	$(function() {
	// Set upload files.
		$('#id_upload').uploadify ({
			'swf' : '/static/common/libs/js/uploadify/3.1.2/uploadify.swf',
			'uploader' : '/upload_image/?name={{p.pk}}-{{step}}', 
			'cancelImage' : '/static/images/icons/cancel.png',
			'buttonClass' : 'btn-primary active',
			'checkExisting' : '/check_existing/',
			'removeCompleted': true,
			'fileTypeExts' : '*.jpg;*.gif;*.png',
			'multi' : true,
			'auto' : true,
			'buttonText': '从磁盘上传',
			'onUploadSuccess' : function (file, data, response) {
				$("#instructions").before("<img src='/media/normal/"+data+"' />")
			}
		});
	});
	</script>
    <script>
        $(function(){
            setTimeout(function(){$(".spark").animate({opacity:'toggle'}, {duration:"slow"})}, 2000);
        });
    </script>
<div class="container">
	<content>
	  <form action="/add_insurance_company" method="post">
	  {% csrf_token %}
      <div class="demo-row typography-row" style="margin-top: 80px;">
      	<div class="demo-title">
      		<h3 class="demo-panel-title">添加保险公司</h3>
      	</div>
      	<div class="demo-content">
      		<div class="demo-type-example">
	      		<h6><span class="demo-heading-note">保险公司名称：</span>
					<input name="name" type="text" value="" placeholder="请填写保险公司名称" class="form-control">
				</h6>
			</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">电话：</span>
					<input name="tel" type="text" value="" placeholder="请填写保险公司电话" class="form-control">
				</h6>
			</div>
			<div class="demo-type-example">
				<h6 style="width: 150px;"><span class="demo-heading-note"></span>
					<input type="submit" value="提 交" placeholder="提 交" class="form-control" onclick="return confirm('请再次确认名称、电话正确')">
				</h6>
			</div>
		</div><!-- /.demo-content-wide -->
      </div><!-- /.demo-row -->
	  </form>
    {% if error %}
    <div class="spark font_gray" style="background-color:#EDEFF1;text-align:center;width:50%;padding: 10px; font-size: 14px;border-radius: 10px;position: absolute; top:500px;">
        {{ error }}
    </div>
    {% endif %}
	</content>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
