<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
<meta charset="UTF-8">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{% static 'css/css.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">

<!-- Loading Bootstrap -->
<link href="{% static 'css/vendor/bootstrap.min.css' %}" rel="stylesheet">

<!-- Loading Flat UI -->
<link href="{% static 'css/flat-ui.css' %}" rel="stylesheet">
<link href="{% static 'css/demo.css' %}" rel="stylesheet">

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/vendor/video.js' %}"></script>
<script src="{% static 'js/flat-ui.min.js' %}"></script>
<script src="{% static 'js/application.js' %}"></script>

<script type="text/javascript" src="/static/common/libs/js/uploadify/3.1.2/jquery.uploadify.min.js"></script>
<link rel="stylesheet" href="/static/common/libs/js/uploadify/3.1.2/uploadify.css" type="text/css" media="all">

<script src="{% static 'js/common.js' %}"></script>

<!-- Initialize. -->
<script type="text/javascript">
$(function() {
	// steps
	steps_detail = {
		 0 : '开始',
		 1 : '车损类型',
		 2 : '行驶证上传',
		 3 : '驾驶证上传',
		 4 : '保险卡上传',
		 5 : '身份证上传',
		 6 : '银行卡上传',
		 7 : '承保公司',
		 8 : '定损（表面定损）',
		 9 : '定损（拆检定损）',
		 10: '定损项目上传',
		 11: '核损金额',
		 12: '交案',
		 13: '交案：定损单',
		 14: '交案：旧件回收时间',
		 15: '交案：发票',
		 16: '交案：验车时间',
		 17: '是否交案',
		 18: '结案：划款时间',
	};


	// default datetime input.
	if( $('input[type="datetime-local"]').val() == '' )
		$('input[type="datetime-local"]').val( new Date().format("yyyy-MM-dd\Thh:mm") );

	// Set upload files.
	$('#id_upload').uploadify ({
		'swf' : '/static/common/libs/js/uploadify/3.1.2/uploadify.swf',
		'uploader' : '/upload_image/?name={{p.pk}}-{{step}}',
		'cancelImage' : '/static/images/icons/cancel.png',
		'buttonClass' : 'btn-primary active',
		'checkExisting' : '/check_existing/',
		'removeCompleted': true,
		'fileTypeExts' : '*.jpg;*.gif;*.png',
		'multi' : true,
		'auto' : true,
		'buttonText': '从磁盘上传',
		'onUploadSuccess' : function(file, data, response) {
			$("#gallery").append(
				"<img src='/media/normal/"+data.split('|')[0]+
				"' alt='"+data.split('|')[1]+"' class='img-rounded img-responsive uploaded-img' />");

			$('img[alt="'+data.split('|')[1]+'"]').bind( 'dblclick', 
				function() { 
					if(confirm("此操作将会删除该图片，确认继续？")) {
						$.ajax({ 
							url: "/delete_image?pk="+$(this).attr('alt'), 
							context: document.body, 
							success: function(data) {
								$('[alt="'+data+'"]').remove();
							}
						});
					}
				}
			);
		}
	});

	// bind nextbutton event.
	$('#submit').bind( "click", function() {
		if( $('[name="license_plate"]').val() == '' ) return false;
		if( $('[name="insurance_card_number"]').val() == '' ) return false;
		if( $('[name="id_card_number"]').val() == '' ) return false;
		if( $('[name="crack_type"]').val() == '' ) return false;
		if( $('[name="insurance_company"]').val() == '' ) return false;
		if( $('[name="surface_confirm_manager"]').val() == '' ) return false;
		if( $('[name="inside_confirm_manager"]').val() == '' ) return false;
		if( $('[name="damage_value"]').val() == '' ) return false;
		if( $('[name="hand_in_case_type"]').val() == '' ) return false;
		if( $('[name="manager"]').val() == '' ) return false;

		if(confirm("确定提交数据？本次操作将不能被撤销，如需修改请通知管理员。"))
			$('#steps').submit();
	} );

	// bottom pager.
	for(var i = 18; i > 0; i--)
		$('.pagination .previous').after(
			'<li class="cp"><a href="?step='+i+'">'+i+'</a></li>'
		);

	$('.pagination .cp').eq({{ step }}-1).addClass("active");
	$('.pagination .cp:lt('+parseInt($('.active a').text())+')').addClass('active');

	// delete picture
	$('#gallery').prepend( $('<p>').text('注：双击即可删除已上传图片。') );
	$('#gallery img').bind('dblclick', function() {
		if(confirm("确定删除此图片？")) {
			var self = this;
			$.get('/delete_image?pk='+$(this).attr('alt'), function(data) {
				$(self).remove();
				console.log('Picture has been removed. (pk：'+data+')');
			});
		}
	});	

	// delete progress
	$('.btn-delete').bind('click', function() {
		if(confirm("确定删除此条目["+$(this).attr('data-comment')+"]？")) {
			var self = this;
			$.get('/delete-progress?pk='+$(this).attr('data-pk'), function(data) {
				console.log('Progress has been removed. (pk：'+data+')');
				alert( '已成功删除该条目（ID:'+data+'）' );
				$(self).closest('.rmc_table_row').fadeOut("fast", function () {$(this).remove();});
			});
		}
	});

	// notification
	dispatch_notification = function() { 
		$.ajax({
			url: "/get_warning_progresses_ajax",
			async: false,
			success: function(p) {
				t = '';
				console.log(p);
				$.each( p.license_plate, function(k) { 
					t += "{0}. 车牌号: {1} [进度: {2}]\n".format(k+1, p.license_plate[k], steps_detail[p.steps[k]]);	
				});
				if(''==t) t='暂无待处理事件';

				Notification.requestPermission(function (perm) {
					if (perm == "granted") {   
						var notification = new Notification( '未完成项目通知', { 
							tag: "warning_progresses", body: t, icon: '{% static 'images/gears.png' %}'
						});
						notification.onshow = function() {
							$('#notify')[0].play();
						}
						notification.onclick = function() {
							location.href = '/warning_progresses';
							window.focus();
							//setTimeout( function() { notification.close(); }, 5000);
						}
					}
				});
			},
		}); 
	};

	setInterval( function() { dispatch_notification() }, 180000 /*3 min*/ );

	
	// license plate
	$('#steps .demo-title .demo-panel-title').text( $('.demo-title .demo-panel-title').text() + ' ({{p.license_plate}})' );
});
</script>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
  <script src="dist/js/vendor/html5shiv.js"></script>
  <script src="dist/js/vendor/respond.min.js"></script>
<![endif]-->

</head>
<body>
    {% block header %}
    <div class="container-fluid">
        <header>
		<audio id="notify" preload="auto" autobuffer>
			<source src="{% static 'images/notification.mp3'%}" />
		</audio>

        <div class="row demo-row">
            <div class="col-xs-12">
                <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                    <a class="navbar-brand" href="/check_warning">中艺汽修厂</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-01">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="/warning_progresses">警 告
                                {% if request.session.warning_count != 0 %}
                                    <span class="navbar-unread" style="padding:0">{{request.session.warning_count}}</span>
                                {% endif %}
                            </a></li>
                            <li><a href="/ongoing_progresses">未完成
                                {% if request.session.ongoing_count != 0 %}
                                    <span class="navbar-unread" style="background-color: white!important;color:#34495D!important;padding:0">{{request.session.ongoing_count}}</span>
                                {% endif %}
                            </a></li>
							{% if user.priority == 1 %}
								<li><a href="javascript: alert('注意：当前登陆账号为管理员账号，请勿进行普通录入操作。')" style="color: orangered;">新建案件(管理员)</a></li>
							{% else %}	
								<li><a href="/create">新 建 案 件</a></li>
							{% endif %}	
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">设 置<b class="caret"></b></a>
                                <span class="dropdown-arrow"></span>
                                <ul class="dropdown-menu">
                                    <li><a href="/managers">业务员管理</a></li>
                                    <li><a href="/insurance_companies">保险公司管理</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/warning_setting">提醒设置</a></li>
                                    <li><a href="/change_password">修改密码</a></li>
                                    <li><a href="/logout" onclick="return confirm('你确定要退出吗？')">退出</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right" action="/search_progresses" role="search">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" name="key" id="navbarInput-01" type="search" placeholder="车牌/身份证/保险卡">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn"><span class="fui-search"></span></button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.navbar-collapse -->
                </nav><!-- /navbar -->
            </div>
        </div> <!-- /row -->
        </header>
    </div>
    {% endblock %}

    {% block content %}{% endblock %}
    {% block footer %}
        <div style="margin-bottom: 100px;"></div>
    {% endblock %}
</body>
</html>
