{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
	汽车保险理赔系统-中艺
{% endblock %}
{% block content %}
    <div class="container-fluid detail">
        <div class="row" style="position: fixed; bottom: 0px; width: 100%; z-index: 99; zoom: 0.7;left: 0px;margin: 0 auto;">
            <div class="col-xs-6 bg_gray" style="padding: 10px">
                <div class="license_plate one_line_l">{{ p.license_plate }}</div>
            </div>
            <div class="col-xs-6 bg_gray" style="padding: 10px;height: 75px;line-height: 56px">
                <div class="font_16 one_line_r" style="padding:0 10px;">进厂日期：{{ p.enter_time }}</div>
                <div class="font_16 one_line_r" style="padding:0 10px;">业务员：{{ p.manager }}</div>
            </div>

            <style>.progress{ border-radius: 0px!important; } </style>
            <div style="clear:both;"></div>
            <div class="progress" style="margin:0px!important;">
              <div class="progress-bar progress-bar-striped active" role="progressbar"
                   aria-valuenow="{{ p.steps }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ p.steps }}%">
              </div>
            </div>
            <script>$('.progress-bar').width( {{ p.steps }} * 100 / 17 + '%' ) </script>
        </div>

    </div>

    <div class="container detail">
        <div class="demo-row typography-row">

            <div class="demo-title">
                <h3 class="demo-panel-title">步骤 1: 车损类型</h3>
            </div>
            {% if p.crack_type_time %}
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">车损类型：</span>
                    <span>
                        {{p.crack_type}}
                        {% if p.crack_type == "双方" %}
                            -> {{ p.crack_type_2 }}
                        {% endif %}
                    </span>
				</h6>
			</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">车损类型确认时间：</span>
                    <span>{{p.crack_type_time}}</span>
				</h6>
			</div>
            {% endif %}
            {% if p.crack_type_time %}
            <div class="demo-title">
                <h3 class="demo-panel-title">步骤 2-1: 行驶证上传</h3>
            </div>
            {% if p.vehicle_license_time %}
            <div class="demo-content">
                <div class="demo-type-example">
                    <h6><span class="demo-heading-note">行驶证图片:</span>
                    </h6>
                    <!--Picture Here-->
                    {% for picture in p.vehicle_license.galleryPic.all %}
					<img src="/media/{{picture.thumb}}" data-origin="/media/{{picture.pic}}" alt="{{picture.pk}}" class="img-rounded img-responsive uploaded-img" />
                    {% endfor %}
                    <div style="clear: both"></div>
                </div>
            </div><!-- /.demo-content-wide -->
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">行驶证上传时间：</span>
                    <span>{{p.vehicle_license_time}}</span>
				</h6>
			</div>
            {% endif %}
            {% endif %}
            {% if p.vehicle_license_time %}
            <div class="demo-title">
                <h3 class="demo-panel-title">步骤 2-2: 驾驶证上传</h3>
            </div>
            {% if p.driving_license_time %}
            <div class="demo-content">
                <div class="demo-type-example">
                    <h6><span class="demo-heading-note">驾驶证图片:</span>
                    </h6>
                   <!--Picture Here-->
                    {% for picture in p.driving_license.galleryPic.all %}
					<img src="/media/{{picture.thumb}}" data-origin="/media/{{picture.pic}}" alt="{{picture.pk}}" class="img-rounded img-responsive uploaded-img" />
                    {% endfor %}
                    <div style="clear: both"></div>
                </div>
            </div><!-- /.demo-content-wide -->
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">驾驶证上传时间：</span>
                    <span>{{p.driving_license_time}}</span>
				</h6>
			</div>
            {% endif %}
            {% endif %}
            {% if p.driving_license_time %}
            <div class="demo-title">
                <h3 class="demo-panel-title">步骤 2-3: 保险卡上传</h3>
            </div>
            {% if p.insurance_card_time %}
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">保险卡号：</span>
                    <span>{{p.insurance_card_number}}</span>
				</h6>
			</div>
      		<div class="demo-type-example">
	      		<h6><span class="demo-heading-note">保险卡图片:</span>
				</h6>
				<!--Picture Here-->
				{% for picture in p.insurance_card.galleryPic.all %}
				<img src="/media/{{picture.thumb}}" data-origin="/media/{{picture.pic}}" alt="{{picture.pk}}" class="img-rounded img-responsive uploaded-img" />
				{% endfor %}
				<div style="clear: both"></div>
      		</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">保险卡上传时间：</span>
                    <span>{{p.insurance_card_time}}</span>
				</h6>
			</div>
            {% endif %}
            {% endif %}
            {% if p.insurance_card_time %}
            <div class="demo-title">
                <h3 class="demo-panel-title">步骤 2-4: 身份证上传</h3>
            </div>
            {% if p.id_card_time %}
      		<div class="demo-type-example">
	      		<h6><span class="demo-heading-note">身份证号：</span>
                    <span>{{p.id_card_number}}</span>
				</h6>
			</div>
      		<div class="demo-type-example">
	      		<h6><span class="demo-heading-note">身份证图片:</span>
				</h6>
				<!--Picture Here-->
				{% for picture in p.id_card.galleryPic.all %}
				<img src="/media/{{picture.thumb}}" data-origin="/media/{{picture.pic}}" alt="{{picture.pk}}" class="img-rounded img-responsive uploaded-img" />
				{% endfor %}
				<div style="clear: both"></div>
      		</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">身份证上传时间：</span>
                    <span>{{p.id_card_time}}</span>
				</h6>
			</div>
            {% endif %}
            {% endif %}
            {% if p.id_card_time %}
        	<div class="demo-title">
                <h3 class="demo-panel-title">步骤 2-5: 银行卡上传</h3>
            </div>
            {% if p.credit_card_time %}
	        <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">银行卡图片:</span>
				</h6>
                <!--Picture Here-->
				{% for picture in p.credit_card.galleryPic.all %}
				<img src="/media/{{picture.thumb}}" data-origin="/media/{{picture.pic}}" alt="{{picture.pk}}" class="img-rounded img-responsive uploaded-img" />
				{% endfor %}
				<div style="clear: both"></div>
      		</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">银行卡上传时间：</span>
                    <span>{{p.credit_card_time}}</span>
				</h6>
			</div>
            {% endif %}
            {% endif %}
            {% if p.credit_card_time %}
            <div class="demo-title">
                <h3 class="demo-panel-title">步骤 3: 承保公司</h3>
            </div>
            {% if p.insurance_company_time %}
            <div class="demo-content">
                <div class="demo-type-example">
                    <h6><span class="demo-heading-note">保险公司：</span>
                        <span>{{ p.insurance_company }}</span>
                    </h6>
                </div>
            </div><!-- /.demo-content-wide -->
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">保险公司确认时间：</span>
                    <span>{{p.insurance_company_time}}</span>
				</h6>
			</div>
            {% endif %}
            {% endif %}
            {% if p.insurance_company_time %}
            <div class="demo-title">
                <h3 class="demo-panel-title">步骤 4-1: 定损（表面定损）</h3>
            </div>
            {% if p.surface_confirm_time %}
            <div class="demo-content">
                <div class="demo-type-example">
                    <h6><span class="demo-heading-note">表面定损时间：</span>
                       <span>{{ p.surface_confirm_time}}</span>
                    </h6>
                </div>
                <div class="demo-type-example">
                    <h6><span class="demo-heading-note">表面定损业务员：</span>
                        <span>{{ p.surface_confirm_manager}}</span>
                    </h6>
                </div>
            </div><!-- /.demo-content-wide -->
            {% endif %}
            {% endif %}
            {% if p.surface_confirm_time %}
            <div class="demo-title">
                <h3 class="demo-panel-title">步骤 4-2: 定损（拆检定损）</h3>
            </div>
            {% if p.inside_confirm_time %}
            <div class="demo-content">
                <div class="demo-type-example">
                    <h6><span class="demo-heading-note">拆检定损时间：</span>
                        <span>{{ p.inside_confirm_time }}</span>
                    </h6>
                </div>
                <div class="demo-type-example">
                    <h6><span class="demo-heading-note">拆检定损业务员：</span>
                         <span>{{ p.inside_confirm_manager }}</span>
                    </h6>
                </div>
            </div><!-- /.demo-content-wide -->
            {% endif %}
            {% endif %}
            {% if p.inside_confirm_time %}
            <div class="demo-title">
                <h3 class="demo-panel-title">步骤 5: 定损项目上传</h3>
            </div>
            {% if p.confirm_time %}
            <div class="demo-content">
                <div class="demo-type-example">
                    <h6><span class="demo-heading-note">定损项目图片:</span>
                    </h6>
                    <!--Picture Here-->
                    {% for picture in p.confirm.galleryPic.all %}
					<img src="/media/{{picture.thumb}}" data-origin="/media/{{picture.pic}}" alt="{{picture.pk}}" class="img-rounded img-responsive uploaded-img" />
                    {% endfor %}
                    <div style="clear: both"></div>
                </div>
            </div><!-- /.demo-content-wide -->
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">定损项目上传时间：</span>
                    <span>{{p.confirm_time}}</span>
				</h6>
			</div>
            {% endif %}
            {% endif %}
            {% if p.confirm_time %}
            <div class="demo-title">
                <h3 class="demo-panel-title">步骤 6: 核损金额</h3>
            </div>
            {% if p.damage_value_time %}
            <div class="demo-content">
                <div class="demo-type-example">
                    <h6><span class="demo-heading-note">核损金额（元）：</span>
                        <span>{{ p.damage_value }}</span>
                    </h6>
                </div>
            </div><!-- /.demo-content-wide -->
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">核损金额确认时间：</span>
                    <span>{{p.damage_value_time}}</span>
				</h6>
			</div>
            {% endif %}
            {% endif %}
            {% if p.damage_value_time %}
        	<div class="demo-title">
                <h3 class="demo-panel-title">步骤 7: 交案</h3>
            </div>
            {% if p.hand_in_case_type_time %}
            <div class="demo-content">
                <div class="demo-type-example">
                    <h6><span class="demo-heading-note">交案类型</span>
                        <span>{{ p.hand_in_case_type }}</span>
                    </h6>
                </div>
            </div><!-- /.demo-content-wide -->
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">交案类型确认时间：</span>
                    <span>{{p.hand_in_case_type_time}}</span>
				</h6>
			</div>
            {% endif %}
            {% endif %}
            {% if p.hand_in_case_type == "大案" %}
            {% if p.hand_in_case_type_time %}
            <div class="demo-title">
                <h3 class="demo-panel-title">步骤 7-1: 定损单上传</h3>
            </div>
            {% if p.damage_doc_time %}
            <div class="demo-content">
                <div class="demo-type-example">
                    <h6><span class="demo-heading-note">定损单图片:</span>
                    </h6>
                    <!--Picture Here-->
                    {% for picture in p.damage_doc.galleryPic.all %}
					<img src="/media/{{picture.thumb}}" data-origin="/media/{{picture.pic}}" alt="{{picture.pk}}" class="img-rounded img-responsive uploaded-img" />
                    {% endfor %}
                    <div style="clear: both"></div>
                </div>
            </div><!-- /.demo-content-wide -->
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">定损单上传时间：</span>
                    <span>{{p.damage_doc_time}}</span>
				</h6>
			</div>
            {% endif %}
            {% endif %}
            {% if p.damage_doc_time %}
            <div class="demo-title">
                <h3 class="demo-panel-title">步骤 7-2: 旧件回收</h3>
            </div>
            {% if p.old_item_recycle_time %}
            <div class="demo-content">
                <div class="demo-type-example">
                    <h6><span class="demo-heading-note">旧件回收时间：</span>
                        <span>{{ p.old_item_recycle_time }}</span>
                    </h6>
                </div>
            </div><!-- /.demo-content-wide -->
            {% endif %}
            {% endif %}
            {% if p.old_item_recycle_time %}
            <div class="demo-title">
                <h3 class="demo-panel-title">步骤 7-3: 旧件资料与发票上传</h3>
            </div>
            {% if p.receipt_time %}
            <div class="demo-content">
                <div class="demo-type-example">
                    <h6><span class="demo-heading-note">图片:</span>
                    </h6>
                    <!--Picture Here-->
                    {% for picture in p.receipt.galleryPic.all %}
					<img src="/media/{{picture.thumb}}" data-origin="/media/{{picture.pic}}" alt="{{picture.pk}}" class="img-rounded img-responsive uploaded-img" />
                    {% endfor %}
                    <div style="clear: both"></div>
                </div>
            </div><!-- /.demo-content-wide -->
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">上传时间：</span>
                    <span>{{p.receipt_time}}</span>
				</h6>
			</div>
            {% endif %}
            {% endif %}
            {% if p.receipt_time %}
            <div class="demo-title">
                <h3 class="demo-panel-title">步骤 7-4: 验车</h3>
            </div>
            {% if p.car_check_time %}
            <div class="demo-content">
                <div class="demo-type-example">
                    <h6><span class="demo-heading-note">验车时间：</span>
                        <span>{{ p.car_check_time }}</span>
                    </h6>
                </div>
            </div><!-- /.demo-content-wide -->
            {% endif %}
            {% endif %}
            {% endif %}
            {% if p.car_check_time %}
            <div class="demo-title">
                <h3 class="demo-panel-title">步骤 8: 结案</h3>
            </div>
            {% if p.case_close %}
            <div class="demo-content">
                <div class="demo-type-example">
                    <h6><span class="demo-heading-note">划款时间：</span>
                        <span>{{ p.case_close }}</span>
                    </h6>
                </div>
            </div><!-- /.demo-content-wide -->


            <div class="demo-content">
                <div class="demo-type-example">
                    <h6><span class="demo-heading-note">备注：</span>
                        <span>{{ p.comment }}</span>
                    </h6>
                </div>
            </div><!-- /.demo-content-wide -->

            {% endif %}
            {% endif %}
            {% if not p.case_close %}
                <a href="/progress/{{ p.id }}?step=1">
                    <div class="btn btn-primary btn-block">继 续 操 作</div>
                </a>
            {% endif %}


        </div><!-- /.demo-row -->
        </div>
    </div>

	<script>
		$('.uploaded-img')
			.css( { cursor: 'pointer', } )
			.bind( "click", function() {
				window.open($(this).attr('data-origin')); 
				//if( confirm("是否确认打印图片") ) $(this).printImage();
			});
	</script>
{% endblock %}
