{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
	汽车保险理赔系统-中艺
{% endblock %}
{% block content %}
    <div class="rmc_table">
        <div class="rmc_table_row rmc_table_top">
            <div class="">车牌</div>
            <div class="">创建时间</div>
            <div class="">车损类型</div>
            <div class="">资料</div>
            <div class="">承保公司</div>
            <div class="">定损</div>
            <div class="">定损项目</div>
            <div class="">核损金额</div>
            <div class="">交案</div>
            <div class="">结案</div>
            <div class="">操作</div>
        </div>
        {% for progress in progresses %}

        <div class="rmc_table_row">
            <div class="rmc_col_1 {% if progress.warning_state == True %}bg_red font_white{% endif %}">{{ progress.license_plate }}</div>
            <div class="">{{ progress.enter_time }}</div>
            <div class="">
                <a href="/progress/{{ progress.id }}?step=1" style="color:#34495e">
                {% if progress.crack_type %}
                    {% if progress.crack_type == "双方" %}
                        {{ progress.crack_type_2 }}
                    {% else %}
                        {{ progress.crack_type }}
                    {% endif %}
                {% endif %}
                </a>
            </div>
            <div class="">
                <a href="/progress/{{ progress.id }}?step=2" style="color:#34495e">
                {% if progress.credit_card_time %}
                    上传完成
                {% elif  progress.id_card_time %}
                    等待 银行卡
                {% elif progress.insurance_card_time %}
                    等待 身份证
                {% elif progress.driving_license_time %}
                    等待 保险卡
                {% elif progress.vehicle_license_time %}
                    等待 驾驶证
                {% endif %}
                </a>
            </div>
            <div class="">
                <a href="/progress/{{ progress.id }}?step=7" style="color:#34495e">
                {% if progress.insurance_company %}
                    {{ progress.insurance_company.name }}
                {% endif %}
                </a>
            </div>
            <div class="">
                <a href="/progress/{{ progress.id }}?step=8" style="color:#34495e">
                {% if progress.inside_confirm_time %}
                    定损完成
                {% elif  progress.surface_confirm_time %}
                    等待 拆检定损
                {% endif %}
                </a>
            </div>
            <div class="">
                <a href="/progress/{{ progress.id }}?step=10" style="color:#34495e">
                {% if progress.confirm_time %}
                    上传完成
                {% endif %}
                </a>
            </div>
            <div class="">
                <a href="/progress/{{ progress.id }}?step=11" style="color:#34495e">
                {% if progress.damage_value %}
                    {{ progress.damage_value }}元
                {% endif %}
                </a>
            </div>
            <div class="">
                <a href="/progress/{{ progress.id }}?step=12" style="color:#34495e">
                {% if progress.hand_in_case_type %}
                    {% if progress.hand_in_case_type == "快赔" %}
                        快赔
                    {% else %}
                        {% if progress.car_check_time %}
                            大案
                        {% elif progress.receipt_time%}
                            等待 验车
                        {% elif progress.old_item_recycle_time%}
                            等待 开发票
                        {% elif progress.damage_doc_time%}
                            等待 旧件回收
                        {% else %}
                            等待 定损单
                        {% endif %}
                    {% endif %}
                {% endif %}
                </a>
            </div>
            <div class="">
                <a href="/progress/{{ progress.id }}?step=17" style="color:#34495e">
                {% if progress.case_close %}
                    {{ progress.case_close }}
                {% endif %}
                </a>
            </div>
            </a>
            <div class="" align="center">
                <a href="/detail/{{ progress.id }}">
                    <div class="btn btn-block btn-primary ">详 情</div>
                </a>
				{% if user.priority == 1 %}
				&nbsp;
                <a href="javascript:void(0);">
					<div data-pk="{{ progress.id }}" data-comment="{{ progress.license_plate }}" class="btn btn-delete btn-block btn-danger">删 除</div>
				</a>
				{% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
