{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
	汽车保险理赔系统-中艺
{% endblock %}
{% block content %}
    <div class="container-fluid">


    <a href="add_insurance_company">
        <div class="row" align="center">
            <div class="btn btn-primary btn-large btn-block" style="border-radius: 0">添加保险公司</div>
        </div>
    </a>
    <div class="row">
    <div class="rmc_table">
        <div class="rmc_table_row rmc_table_top">
            <div class="">保险公司</div>
            <div class="">电话</div>
            <div class="">启用</div>
            <div class="">操作</div>
        </div>
        {% for company in companies %}
        <div class="rmc_table_row">
            <div class="rmc_col_1">{{ company.name }}</div>
            <div class="">{{ company.tel }}</div>
            <div class="">
                {% if company.available == True %}
                    √
                {% endif %}
            </div>
            <div class="" align="center">
                {% if company.available == True %}
                    <a href="/inactive_insurance_company/{{ company.id }}">
                        <div class="btn btn-primary btn-large btn-block">停用</div>
                    </a>
                {% else %}
                    <a href="/active_insurance_company/{{ company.id }}">
                        <div class="btn btn-primary btn-large btn-block">启用</div>
                    </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>
    </div>
    </div>
{% endblock %}