{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
	汽车保险理赔系统-中艺
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <script>
        $(function(){
            setTimeout(function(){$(".spark").animate({opacity:'toggle'}, {duration:"slow"})}, 2000);
        });
    </script>
    <div class="container">
        <div class="login" style="margin-top:50px">
            <div class=" font_white" style="text-align:center;width:50%;font-size: 30px;position: absolute; top:70px; left:230px">
                中艺汽车维修管理中心
            </div>
            {% if error %}
            <div class="spark font_gray" style="background-color:#EDEFF1;text-align:center;width:50%;padding: 10px; font-size: 14px;border-radius: 10px;position: absolute; top:400px; left:230px">
                {{ error }}
            </div>
            {% endif %}
            <div class="login-screen">
                <div class="login-icon">
                    <img src="{% static 'images/clipboard.png' %}" alt="Welcome to Mail App">
                </div>

                <div class="login-form">
                    <form action="/login/" method="post">
                    {% csrf_token %}
                    <div class="control-group">
                        <input type="text" name="account" class="login-field font_gray" value="" placeholder="账 号" id="login-name" style="width:100%">
                        <label class="login-field-icon fui-man-16" for="login-name"></label>
                    </div>

                    <div class="control-group">
                        <input type="password" name="password" class="login-field font_gray" value="" placeholder="密 码" id="login-pass" style="width:100%">
                        <label class="login-field-icon fui-lock-16" for="login-pass"></label>
                    </div>


                    <input type="submit" value="登陆" class="btn btn-primary btn-large btn-block">
                    <a class="login-link" href="#" onclick="return confirm('忘记密码，请拨打 13360446064 联系管理员！') ">忘记密码了?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}