{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
	汽车保险理赔系统-中艺
{% endblock %}
{% block content %}
    <div class="container-fluid">


    <a href="add_manager">
        <div class="row" align="center">
            <div class="btn btn-primary btn-large btn-block" style="border-radius: 0">添加业务员</div>
        </div>
    </a>
    <div class="row">
    <div class="rmc_table">
        <div class="rmc_table_row rmc_table_top">
            <div class="">业务员名称</div>
            <div class="">电话</div>
            <div class="">启用</div>
            <div class="">操作</div>
        </div>
        {% for member in members %}
        <div class="rmc_table_row">
            <div class="rmc_col_1">{{ member.first_name }}</div>
            <div class="">{{ member.tel }}</div>
            <div class="">
                {% if member.is_active == True %}
                    √
                {% endif %}
            </div>
            <div class="" align="center">
                {% if member.is_active == True %}
                    <a href="/inactive_member/{{ member.id }}">
                        <div class="btn btn-primary btn-large btn-block">停用</div>
                    </a>
                {% else %}
                    <a href="/active_member/{{ member.id }}">
                        <div class="btn btn-primary btn-large btn-block">启用</div>
                    </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    </div>
{% endblock %}