{% extends "base.html" %}
{% load staticfiles %}

{% block footer %}
	<footer>
		<div class="row">
		  <div class="col-xs-12">			
			  <div class="pagination">
				<ul>
				  <li class="previous"><a href="#" class="fui-arrow-left"></a></li>
				  <li class="next"><a href="#" class="fui-arrow-right"></a></li>
				</ul>
			  </div>
		  </div>
		</div>
	</footer>
{% endblock %}	
