{% load i18n %}
<!--
	Ideally these elements aren't created until it's confirmed that the 
	client supports video/camera, but for the sake of illustrating the 
	elements involved, they are created with markup (not JavaScript)
-->
<video id="video" width="320" height="240" autoplay></video>
<button id="snap">Snap Photo</button>
<button id="upload_snap">Upload Snapped Photo</button>
<canvas id="canvas" width="1024" height="768"></canvas>

<input type="file" id="id_upload" name="upload" class="btn"/>
<input type="hidden" id="capture" name="capture" class="capture"/>

<link rel="stylesheet" href="/static/common/libs/js/uploadify/3.1.2/uploadify.css" type="text/css" media="all">
<script type="text/javascript" src="/static/common/libs/js/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/common/libs/js/uploadify/3.1.2/jquery.uploadify.min.js"></script>

<script>
// Converts image to canvas; returns new canvas element
function convertImageToCanvas(image) {
	var canvas = document.createElement("canvas");
	canvas.width = image.width;
	canvas.height = image.height;
	canvas.getContext("2d").drawImage(image, 0, 0);

	return canvas;
}

// Converts canvas to an image
function convertCanvasToImage(canvas) {
	var image = new Image();
	image.src = canvas.toDataURL("image/png");
	return image;
}

$(document).ready(function(){
	// Set upload files.
	$('#id_upload').uploadify ({
        'swf' : '/static/common/libs/js/uploadify/3.1.2/uploadify.swf',
        'uploader' : '/upload_image/', 
        'cancelImage' : '/static/images/icons/cancel.png',
        'buttonClass' : 'btn',
        'checkExisting' : '/check_existing/',
        'removeCompleted': true,
        'fileTypeExts' : '*.jpg;*.gif;*.png',
        'multi' : true,
        'auto' : true,
        'buttonText': '添加图片',
        'onUploadSuccess' : function (file, data, response) {
			$("#instructions").before("<img src='/media/normal/"+data+"' />")
        }
    });

	// Put event listeners into place
	window.addEventListener("DOMContentLoaded", function() {
		// Grab elements, create settings, etc.
		var canvas = document.getElementById("canvas"),
			context = canvas.getContext("2d"),
			video = document.getElementById("video"),
			videoObj = { "video": true },
			errBack = function(error) {
				console.log("Video capture error: ", error.code); 
			};

		// Put video listeners into place
		if(navigator.getUserMedia) { // Standard
			navigator.getUserMedia(videoObj, function(stream) {
				video.src = stream;
				video.play();
			}, errBack);
		} else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
			navigator.webkitGetUserMedia(videoObj, function(stream){
				video.src = window.webkitURL.createObjectURL(stream);
				video.play();
			}, errBack);
		}
		else if(navigator.mozGetUserMedia) { // Firefox-prefixed
			navigator.mozGetUserMedia(videoObj, function(stream){
				video.src = window.URL.createObjectURL(stream);
				video.play();
			}, errBack);
		}
		
		// Trigger photo take
		document.getElementById("snap").addEventListener("click", function() {
			$('#video').width(1024).height(768);
			context.drawImage(video, 0, 0, 1024, 768);
			$('#video').width(320).height(240);
			var dataurl = (convertCanvasToImage(document.getElementById("canvas")).src);
			//document.getElementById("capture").value = encodeURIComponent(dataurl);
			document.getElementById("capture").value = (dataurl);
		});

		// Upload
		$('#upload_snap').bind( "click", function() {
			$.post("/upload_image/", { snap_image:$('#capture').val() }, function(result) {
				Notification.requestPermission(function (perm) {
					if (perm == "granted") {   
						var notification = new Notification( 'Upload Capture Success.', { 
							icon: convertCanvasToImage($("#canvas")[0]).src, 
							tag: "upload_file_success",
							body: result
						});
						notification.onshow = function() {
							setTimeout( function() { notification.close(); }, 5000);
						}
						notification.onclick = function() {
							location.href = "http://www.baidu.com";
						}
					}
				})
			});
		});

	}, false);
})
</script>
