{% extends "stepbase.html" %}
{% load static %}
{% block title %}
	汽车保险理赔系统-中艺
{% endblock %} 

{% block content %}

	<link rel="stylesheet" href="/static/common/libs/js/uploadify/3.1.2/uploadify.css" type="text/css" media="all">
	<script type="text/javascript" src="/static/common/libs/js/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/common/libs/js/uploadify/3.1.2/jquery.uploadify.min.js"></script>

	<script>
	$(function() {
	// Set upload files.
		$('#id_upload').uploadify ({
			'swf' : '/static/common/libs/js/uploadify/3.1.2/uploadify.swf',
			'uploader' : '/upload_image/?name={{p.pk}}-{{step}}', 
			'cancelImage' : '/static/images/icons/cancel.png',
			'buttonClass' : 'btn-primary active',
			'checkExisting' : '/check_existing/',
			'removeCompleted': true,
			'fileTypeExts' : '*.jpg;*.gif;*.png',
			'multi' : true,
			'auto' : true,
			'buttonText': '从磁盘上传',
			'onUploadSuccess' : function (file, data, response) {
				$("#instructions").before("<img src='/media/normal/"+data+"' />")
			}
		});
	});
	</script>
    <script>
        $(function(){
            setTimeout(function(){$(".spark").animate({opacity:'toggle'}, {duration:"slow"})}, 2000);
        });
    </script>
<div class="container">
	<content>
	  <form action="/edit_warning_setting" method="post">
	  {% csrf_token %}
      <div class="demo-row typography-row" style="margin-top: 80px;">
        {% if error %}
        <div class="spark font_gray" style="background-color:#EDEFF1;text-align:center;width:50%;padding: 10px; font-size: 14px;border-radius: 10px;position: absolute; top:100px;margin-left: 300px">
            {{ error }}
        </div>
        {% endif %}
      	<div class="demo-title">
      		<h3 class="demo-panel-title">提醒设置（单位：分钟）</h3>
      	</div>
      	<div class="demo-content">
      		<div class="demo-type-example">
	      		<h6><span class="demo-heading-note">车损类型确认提醒：</span>
					<input name="crack_type_warning" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" type="text" value="" placeholder="{{ warning.crack_type_warning }}" class="form-control">
				</h6>
			</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">行驶证上传提醒：</span>
					<input name="vehicle_license_warning" type="text" value="" placeholder="{{ warning.vehicle_license_warning }}" class="form-control">
				</h6>
			</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">驾驶证上传提醒：</span>
					<input name="driving_license_warning" type="text" value="" placeholder="{{ warning.driving_license_warning }}" class="form-control">
				</h6>
			</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">身份证上传提醒：</span>
					<input name="id_card_warning" type="text" value="" placeholder="{{ warning.id_card_warning }}" class="form-control">
				</h6>
			</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">保险卡上传提醒：</span>
					<input name="insurance_card_warning" type="text" value="" placeholder="{{ warning.insurance_card_warning }}" class="form-control">
				</h6>
			</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">银行卡上传提醒：</span>
					<input name="credit_card_warning" type="text" value="" placeholder="{{ warning.credit_card_warning }}" class="form-control">
				</h6>
			</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">承保公司确认提醒：</span>
					<input name="insurance_company_warning" type="text" value="" placeholder="{{ warning.insurance_company_warning }}" class="form-control">
				</h6>
			</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">表面定损提醒：</span>
					<input name="surface_confirm_warning" type="text" value="" placeholder="{{ warning.surface_confirm_warning }}" class="form-control">
				</h6>
			</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">拆检定损提醒：</span>
					<input name="inside_confirm_warning" type="text" value="" placeholder="{{ warning.inside_confirm_warning }}" class="form-control">
				</h6>
			</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">定损项目上传提醒：</span>
					<input name="confirm_warning" type="text" value="" placeholder="{{ warning.confirm_warning }}" class="form-control">
				</h6>
			</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">核损金额确认提醒：</span>
					<input name="damage_value_warning" type="text" value="" placeholder="{{ warning.damage_value_warning }}" class="form-control">
				</h6>
			</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">交案类型确认提醒：</span>
					<input name="hand_in_case_warning" type="text" value="" placeholder="{{ warning.hand_in_case_warning }}" class="form-control">
				</h6>
			</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">定损单上传提醒：</span>
					<input name="damage_doc_warning" type="text" value="" placeholder="{{ warning.damage_doc_warning }}" class="form-control">
				</h6>
			</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">旧件回收提醒：</span>
					<input name="old_item_recycle_warning" type="text" value="" placeholder="{{ warning.old_item_recycle_warning }}" class="form-control">
				</h6>
			</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">发票上传提醒：</span>
					<input name="receipt_warning" type="text" value="" placeholder="{{ warning.receipt_warning }}" class="form-control">
				</h6>
			</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">验车提醒：</span>
					<input name="car_check_warning" type="text" value="" placeholder="{{ warning.car_check_warning }}" class="form-control">
				</h6>
			</div>
            <div class="demo-type-example">
	      		<h6><span class="demo-heading-note">结案划款提醒：</span>
					<input name="case_close_warning" type="text" value="" placeholder="{{ warning.case_close_warning }}" class="form-control">
				</h6>
			</div>
			<div class="demo-type-example" style="float:left">
				<h6 style="width: 150px;"><span class="demo-heading-note"></span>
					<input type="submit" value="保存修改" placeholder="" class="form-control" onclick="return confirm('确认要对提醒设置进行修改')">
				</h6>
			</div>
            <div class="demo-type-example" style="float:left">
				<h6 style="width: 150px;"><span class="demo-heading-note"></span>
                    <a href="/">
                        <div class="btn btn-block btn-primary btn-lg">返回主页</div>
                    </a>
  				</h6>
			</div>

		</div><!-- /.demo-content-wide -->
      </div><!-- /.demo-row -->
	  </form>
	</content>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
