.bg_black{
    background-color: #343434;
}
.bg_red{
    background-color: #C73839!important;
}
.bg_white{
    background-color: white;
}
.bg_gray{
    background-color: #CECECE;
}

.font_white{
    color:white;
}
.font_gray{
    color: #2A2A2A;
}
.font_red{
    color: #C73839;
}
.font_blue{
    color: #34495D;
}

.font_14{
    font-size: 14px;
}
.font_16{
    font-size: 16px;
}
.font_20{
    font-size: 20px;
}
.font_30{
    font-size: 30px;
}

.font_c{
    text-align: center;
}

.fixed_top{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.one_line_l{
    float:left
}
.one_line_r{
    float:right
}

.header{
    height:60px;
}
.header .item{
    height: 40px;
    margin: 10px;
    line-height: 40px;
}
.header .notice{
    width: 40px;
}

.rmc_table{
    width:100%;
    display: table;
    border-collapse:separate;
}
.rmc_table_row{
    display: table-row;
    text-align: center;

}
.rmc_table .rmc_table_row:nth-of-type(odd){
    background-color: #f6f6f6;
}
.rmc_table .rmc_table_row:nth-of-type(even){
    background-color: white;
}

.rmc_table_row div {
    display: table-cell;
    padding: 10px;
}
.rmc_table_top {
    background-color: #1abc9c!important;
    color: white;
}
.rmc_col_1{
}

.license_plate{
    padding: 0 .5em;
	height:55px;
    font-size: 35px;
    background-color: #123D8B;
    border-radius: 10px;
    border: 5px solid white;
    color: white;
    line-height: 48px;
    text-align: center;
}
.stage{
    text-align: center;
    font-size:18px;
    padding:20px;
}
.demo-type-example a#submit { margin-bottom: 120px; }
